.leaderboard{

    min-height:100vh;

    background:#0f172a;

    color:white;

    padding:50px;

}

.leaderboard h1{

    margin-bottom:30px;

}

table{

    width:100%;

    border-collapse:collapse;

    background:#1e293b;

    border-radius:10px;

    overflow:hidden;

}

th{

    background:#2563eb;

    padding:18px;

}

td{

    padding:18px;

    text-align:center;

}

tr:nth-child(even){

    background:#334155;

}