.profile{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#0f172a;

}

.profile-card{

    width:500px;

    background:#1e293b;

    padding:40px;

    border-radius:15px;

    text-align:center;

    color:white;

}

.profile-card img{

    width:150px;

    border-radius:50%;

    margin-bottom:20px;

}

.profile-card h1{

    margin-bottom:10px;

}

.profile-card p{

    color:#cbd5e1;

    margin-bottom:35px;

}

.stats{

    display:flex;

    justify-content:space-around;

}

.stats h2{

    color:#3b82f6;

    margin-bottom:10px;

}